.h2{
    color: aliceblue;
}
.sider{
    display: flex;
    border: 1px solid black;
}
.center{
    margin-left: 10px;
    padding: 10px;
}
.imge{
    border-radius: 50%;
    margin-left: 140px;
    margin-top: 30px;
    border: 2px solid white;
}
.name-section{
    text-align: center;
}
.side{
    height: 1030px;
    width: 970px;
    background-color: rgb(32, 94, 148);
}
.Pic_area{
    height: 280px;
    width: 405px;
    background-color: rgb(19, 155, 193);
}
.hearder{
    background-color: rgb(9, 9, 10);
    height: 900px;
}
.emailall{
    margin-left: 50px;
}

/* its all main head image */
.contact{
    display: flex;
    margin-left: 40px;
}

.contact1{
    display: flex;
}
.png1{
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 20Px;
}

.png2{
    margin-top: 15px;
    padding-right: 10px;
    margin-left: 40px;
}
.side{
    width: 1100px;
    height: 1180px;
    background-color: rgb(195, 196, 187);
}
.profile{
    display: flex;
}
.profile1{
    display: flex;
}
#file1{
    margin-left: 40px;
}
#file2{
    margin-left: 33px;
}
#file3{
    margin-left: 23px;
}
#file4{
    margin-left: 5px;
}
.profile2{
     margin-left: 40px; 
    height: 40px;
}
.text{
    margin: 30px;
    margin-left: 50px;
}
.png3{
    margin-top: 15px;
    padding-right: 10px;
    margin-left: 40px;
}
.text1{
    margin-left: 45px;
}